<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Name</h2>
    <p><%= user.firstName %> <%= user.lastName %></p>
    <h2>Email</h2>
    <p><%= user.email %></p>
    <h2>Age</h2>
    <p><%= user.age %></p>
    <h2>Bio</h2>
    <p><%= user.bio %></p>
    <a href="/create">Create a user</a>
  </body>
</html>
